# https://clangd.llvm.org/installation#project-setup
# https://clangd.llvm.org/config
CompileFlags:
  Add: 
    - "-std=c23"
    
    # Strict Warning Rules
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-Wformat=2"
    
    # GLib (`pkg-config --cflags glib-2.0`)
    - "-I/usr/include/glib-2.0"
    - "-I/usr/lib/aarch64-linux-gnu/glib-2.0/include"
    - "-pthread"

    # Debugging and Sanitization
    - "-g3"
    - "-O0"
    - "-fsanitize=address,undefined"
    - "-fno-omit-frame-pointer"
